.container-auth {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.container-paint {
  background-color: var(--color-card-fg);
  border: 2px solid;
  border-radius: 0.3rem;
  padding: 1rem 3.5rem;
  margin: 0.5rem;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.form-group > * {
  margin: 0.5rem 0;
  padding: 0 0.5rem;

}

.form-group > input {
  padding: 0.7rem;
  width: 100%;
}

.form-group-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth-btn {
  margin: 0.5rem 0;
  background-color: var(--color-card-bg);
  color: var(--color-card-fg);
  border-radius: 0.3rem;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  width: 100%;
}

.auth-btn:hover {
  opacity: 95%;
}

.auth-test-btn{
  margin: 0.5rem 0;
  border: 2px solid var(--color-card-bg);
  background: transparent;
  color: var(--color-card-bg);
  border-radius: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  width: 100%;
}

.auth-test-btn:hover{
  border-bottom: 5px solid var(--color-card-bg);
}

.form-redirect a {
  font-size: small;
  color: var(--color-foreground);
  text-decoration: none;
}

.text-small{
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  .container-paint {
    padding: 1rem 1.5rem;
  }
}
