.videoListing-wrapper{
    margin: 0rem 1rem;
    grid-area: main;
}

.videoListing-title{
    text-align: center;
}

.videoListing-card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 1rem;

}

.videoListing-card{
    max-width: 20rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.2rem;
    position: relative
}

.videoListing-card-image{
        object-fit: cover;
        width: 20rem;
        border-radius: 0.2rem;
}

.videoListing-card:hover{
    box-shadow: 1px 2px 5px 0px #BEC0D8;
}

.category-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category-chips{
    margin: 0.5rem;
    padding: 0.4rem;
    background-color: var(--color-card-bg);
    border-radius: 0.2rem;
    color: var(--color-card-fg);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .videoListing-card-parent
    {
    align-items: center;
    }
}

@media only screen and (max-width: 600px) {
.videoListing-card
{
    width: auto;
    margin: 1rem;
    height: 100%;
}
}